Flask
Flask-PyMongo
Werkzeug
Flask-Session
bcrypt
certifi
chardet
click
cmake
decorator
dlib
face-recognition
face-recognition-models
idna
imageio
imageio-ffmpeg
moviepy
numpy
opencv-python
Pillow
proglog
requests
tqdm
urllib3
wincertstore
dill
Flask-Mail
flask_mail
pandas 
pymongo 
openpyxl
ultralytics
