<!DOCTYPE html>
<html lang="en" ng-app="attendanceApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="static\script\appcontroller.js"></script>
</head>
<body ng-controller="HomeController">
    <div>
        <div>
            Title
        </div>
        <div>
            <button id="loginSignupButton" ng-click="goToLogin()">Login/Signup</button>
        </div>
    </div>
</body>
</html>
