<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/style/studentlogin.css">
   
</head>
<body>
    <div class="container">
        <div class="login-section">
            <div class="login-box">
                <h1 class="brand">NITPY Ai Attendance</h1>
                <h2>Student Signup</h2>
              
                <form>
                    <div>
                        <p></p>
                    </div>
                    <div class="input-group">
                        <label for="email">Roll Number</label>
                        <input type="email" id="email" placeholder="hakeem@digital.com">
                    </div>
                    <div>
                        <p></p>
                    </div>
                    <div class="input-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" placeholder="************">
                    </div>
                    <div>
                        <p></p>
                    </div>
                    <div class="input-group">
                        <label for="password">Confirm Password</label>
                        <input type="password" id="password" placeholder="************">
                    </div>
                    
                    <div class="extras">
                        <label>
                            <input type="checkbox"> Remember Me
                        </label>
                      
                    </div>
                    <div class="action-buttons">
                        <button class="btn btn-login" onclick="event.preventDefault(); window.location.href='studentlogin.html'">Continue..</button>
                       
                    </div>

                </form>
            </div>
        </div>
        <div class="animation-section">
            <ul class="nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Pricing</a></li>
            </ul>
            <div class="bike-animation">
                <img src="../static/assets/2.png" alt="Person on bike" class="bike">
            </div>
        </div>
    </div>
</body>
</html>
